{% extends 'feedapp/base.html' %}

{% load humanize %} <!-- at the top after extends -->

{% block title %}
{{char.name}} | Character Detail 
{% endblock %}

{% block main_title %} 
{{char.name}} 
{% endblock %}

{% block sub_title %}
Level {{char.level}} {{char.race}} {{char.class_type}}
{% endblock %}

{% block content %}


<form id="spell-table-form" class="form-inline mb-3" action="{% url 'character_detail' char.id %}" method="get">
	<div class="row">
		<div class="col-5">
			<div class="form-group">
				<input value="{{search_term}}" class="form-control" type="search" placeholder="Search for a spell" aria-label="Search" name="search">
			</div>
		</div>
		<div class="col d-grid">
			<button class="btn btn btn-outline-success" type="submit">Search</button>
		</div>
		<div class="col">
			<div class="form-group">
				<select class="form-control" name="class" onchange="this.form.submit()">
					<option value="">All Classes</option>
					{% for class in classes %}
						<option value="{{class}}" {% if class_filter == class %}selected{% endif %}>{{class}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<select class="form-control" name="school" onchange="this.form.submit()">
					<option value="">All Schools</option>
					{% for school in schools %}
						<option value="{{school}}" {% if school_filter == school %}selected{% endif %}>{{school}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<select class="form-control" name="level" onchange="this.form.submit()">
					<option value="">All Levels</option>
					{% for level in levels %}
						<option value="{{level}}" {% if level_filter|add:"0" == level|add:"0" %}selected{% endif %}>{% if level > 0 %}Level {{level}}{% else %}Cantrips{% endif %}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col d-grid">
			<a class="btn btn-outline-danger" href="{% url 'character_detail' char.id %}">Clear</a>
		</div>
		<div class="col d-flex align-items-center justify-content-center" style="margin:auto">
			<p class="text-muted" style="font-size: smaller">{{ num_spells }} result{{ num_spells|pluralize }}</p>
		</div>
		
	</div>
</form>

  

{% if spells|length %}
<table class="table table-hover table-dark spell-table">
	<thead class="table-light">
			{% for header, header_opts in table_headers.items %}
			<th class="{{header_opts.class}}">
				<a class="text-black" href="{% url 'character_detail' char.id %}?sort={{header}}&order={% if sort == header and order == 'asc' %}desc{% else %}asc{% endif %}">
					{{header_opts.display}}
					<span class="ml-1">

					{% if sort == header %}
						{% if order == 'desc' %}
						<i class="bi bi-caret-down-fill"></i>

						{% else %}
						<i class="bi bi-caret-up-fill"></i>

						{% endif %}
					{% endif %}
					</span>

				</a>
			</th>
			{% endfor %}
		{% comment %} <th>Classes</th> {% endcomment %}
		<th></th>
	</thead>
	<tbody class="">
    {% for spell in spells %}
      <tr class="spell-row" data-spell-id="{{spell.id}}">
        <td>{{spell.name}}</td>
        <td class="center-td">{{spell.level}}</td>
		<td>{{spell.school}}</td>
		<td class="center-td">{{spell.casting_time}}</td>
		<td>{{spell.spell_range}}</td>
		{% comment %} <td>{{spell.components}}</td>
		<td>{{spell.duration}}</td> {% endcomment %}
		{% comment %} <td>{{ spell.classes.all|join:", "}}</td> {% endcomment %}
		<td id="icon_{{spell.id}}"><span class="expand-icon" style="color:white"><i class="bi bi-caret-down-fill"></i></span></td>
      </tr>

    {% endfor %}
</tbody>

</table>
  <nav>
    <ul id="pagination" class="pagination justify-content-center">
		<li style="margin-right: auto" class="page-item" ><a class="page-link" href="?page=1">First</a></li>

        {% if spells.has_previous %}
            <li class="page-item" ><a class="page-link" href="?page={{ spells.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for page in spells.paginator.page_range %}
            {% if page == spells.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% elif page < spells.number|add:10 and page > spells.number|add:-10 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if spells.has_next %}
            <li class="page-item" ><a class="page-link" href="?page={{ spells.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
		{% endif %}
		<li  style="margin-left: auto"  class="page-item" ><a class="page-link" href="?page={{ spells.paginator.num_pages }}">Last</a></li>
    </ul
>
</nav>
{% else %}
No spells found...
{% endif %}
  <script>

$(document).ready(function() {
	// Get the current filter, search and pagination values
	var search = $("input[name='search']").val();
	var school = $("select[name='school']").val();
	var level = $("select[name='level']").val();
	var class_type = $("select[name='class']").val();
	var sort = "{{sort}}";
	var order = "{{order}}"

	$("#pagination a").click(function(e) {
		// Append the filter, search and pagination values to the GET request URL
		var url = $(this).attr("href") + "&search=" + search + "&school=" + school + "&level=" + level + "&class=" + class_type+ "&sort=" + sort+"&order=" + order;
		// Update the href attribute of the clicked link
		$(this).attr("href", url);
	});


	// Add a click listener to the table headers
	$("th a").click(function(e) {
		// Get the current sort value
		var sort = $(this).data("sort");
		// Get the current order value
		var order = $(this).data("order");
		// Append the filter, search and pagination values to the GET request URL
		var url = $(this).attr("href") + "&search=" + search + "&school=" + school + "&level=" + level + "&class=" + class_type;
		// Update the href attribute of the clicked link
		$(this).attr("href", url);
	});


	const downArrow = '<span class="expand-icon" style="color:white"><i class="bi bi-caret-down-fill"></i></span>';
	const upArrow = '<span class="expand-icon" style="color:white"><i class="bi bi-caret-up-fill"></i></span';
	var prevClickedRowId = null;
    $(".spell-row").on("click", function() {
		 // Get the ID of the currently clicked row
		 var currentClickedRowId = $(this).data("spell-id");
        // Get the previously expanded row
        var prevExpandedRow = $(".expanded-row");
		var prevClickedRow = $(".clicked-row");

		prevClickedRow.removeClass('clicked-row');
		$(`#icon_${prevClickedRowId}`).html(downArrow);
		// If the clicked row is the previously expanded row, slide it up and exit the function
		if (currentClickedRowId === prevClickedRowId) {
			prevExpandedRow.slideUp(50);
			prevClickedRowId = null;
			return;
		}
		$(`#icon_${currentClickedRowId}`).html(upArrow);
		// Update the previously clicked row ID
		prevClickedRowId = currentClickedRowId;
		$(this).addClass('clicked-row');

        // Clear any previously expanded rows
        prevExpandedRow.slideUp(50, function() {
           $(this).remove();
        });

		
        // Get the spell ID from the clicked row
        var spellId = $(this).data("spell-id");
		var $clickedRow = $(this);
        // Make the AJAX call to get the spell information
        $.ajax({
            url: "/api/spells/" + spellId + "/description",
            type: "GET",
            success: function(data) {
                // Insert a new row below the clicked row with the spell information
                $clickedRow.after("<tr class='expanded-row'><td colspan='100%'>" + data.description + "</td></tr>");
				$(".expanded-row").slideDown(100);
            }
        });

    });
});


  </script>
  <style> 
	.text-black {
		color:black;
		text-decoration: none;
	}
	.center-td {
		text-align:center;
	}
	.widthy-td {
		width:200px;
	}
	.expand-icon {
		float:right;
		margin-right:5px;
	}
	.spell-table th {
		width:160px;
	}
	.clicked-row {
		--bs-table-hover-bg:#305274;
		--bs-table-bg: #4a5f74
	}
	.expanded-row{
		height:0;
		--bs-table-bg:white;
		color: black;
		--bs-table-striped-bg: white;
		--bs-table-striped-color: white;
		--bs-table-active-bg: white;
		--bs-table-active-color: white;
		--bs-table-hover-bg: white;
		--bs-table-hover-color: black;
		border-left: 1px solid #ccc; /* 1px solid gray border */
		border-right: 1px solid #ccc; /* 1px solid gray border */
	}
	</style>
{% endblock %}