{% extends 'feedapp/base.html' %}
{% load bootstrap5 %} {# Display a form #}  
{% load humanize %}
<!-- at the top after extends -->
{% block title %}Create Character{% endblock %} 
{% block main_title %}
Create a Character
{%endblock %} 
{% block sub_title %}
{% endblock %} 

{% block content %}
<form method="post" class="form">
  {% csrf_token %} 
  {% bootstrap_form form %} 
  {% buttons %}
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
  {% endbuttons %}
</form>
{% endblock %}
