<div>
  {% if not record.pk == request.user.active_character.pk %}
  <button id="active-{{record.pk}}" data-character-id="{{record.pk}}" class="set-active-btn btn btn-success btn-sm"
    >Set Active</button
  >
  {% else %}
  <button id="active-{{record.pk}}" disabled data-character-id="{{record.pk}}" class="set-active-btn btn btn-warning btn-sm"
    >Active</button
  >
  {% endif %}
  <a href="{% url 'character_edit' record.pk %}" class="btn btn-primary btn-sm"
    >Edit</a
  >
  <a
    href="{% url 'character_delete' record.pk %}"
    class="btn btn-danger btn-sm"
    onclick="return confirm('Are you sure you want to delete this character?');"
    >Delete</a
  >
</div>
